@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


:root {
    --blue: rgba(20, 5, 227, 0.834);
    --green-munsell: hsla(163, 100%, 33%, 1);
    --lavender-web: rgba(24, 255, 247, 0.864);
    --celadon-blue: rgb(52, 203, 254);
    --carmine-m-p: hsla(348, 73%, 49%, 1);
}

* {
    margin: 0;
    font-family: 'Poppins';
}
html {
    background: linear-gradient(-45deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 30px auto -5px;
    font-size: 55px;
}

.container {
    height: 400px;
    width: 550px;
    background-color: var(--blue);
    margin: 25px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(1, 1, 100, 0.864);
    border-radius: 15px;
}

#result {
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 50px auto 100px;
}

.vs {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    width: 100%;
}

.player .computer {
    max-width: max-content;
}


.buttons-container {
    display: flex;
    padding: 15px;
    margin: auto;
    margin-bottom: 40px;
    height: 60px;
    width: 450px;
    align-items: center;
    justify-content: space-around;
}

button {
    padding: 10px;
    color: whitesmoke;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    transition: 250ms;
}

button:hover {
    font-size: 160%;
}

.fa-regular {
    text-shadow: 0px 0px 6px black;
}
button .fa-regular:hover {
    text-shadow: 0px 0px 1px white;
}
.fa-hand-scissors {
    transform: rotate(90deg);
}

footer .fa-regular {
    text-shadow: none;
}